<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ChatEntities" connectionString="metadata=res://*/ServerModel.csdl|res://*/ServerModel.ssdl|res://*/ServerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=46.163.66.7;initial catalog=ChatProjekt;persist security info=True;user id=ChatKlassenProjekt;password=02f*9D~B6}Pl`@xT?`vX7q54])c~si;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>